@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateX(-48%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pure {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
  }
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
