// Base Colors
$color-black: #000;
$color-white: #fff;
$bckgrd: #372F33;
$light-purple: #F300FF;
$dark-purple: #9244C8;
$pink: #D57BA2;
$light-grey: #D9DEE6;
$dark-grey: #5e5d5d;
$red: #F81621;
$muddy-purple: #905985;
$almost-black: #191919;
