#home_hero {
  width: 100%;
  height: 36rem;
  margin: 0 auto;
  border: 1px solid transparent;
  background-image: url("../images/hero_bckg.jpg");
  background-color: #cccccc;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 100%);
}
