#contentMovie {
  display: grid;
  grid-template-columns: 1fr;
}

.v-carousel {
  margin-top: 1rem;
  width: 30%;
  left: 8rem;
  top: 8rem;
  position: relative;
}

#e3 {
  float: left;
  left: -21rem;
  margin: 0 !important;
  top: 8rem;
}

.trailer {
  color: darkblue;
  font-size: 1.6rem;
  text-decoration: none;

  &:hover {
    color: $almost-black;
  }
}

// desktop size media queries at 1200px
@media screen and (min-width: 1200px) {
  #contentMovie {
    background: $bckgrd;
    // display: flex;
    // justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .v-carousel {
    margin-top: 2rem;
    width: 60%;
    left: 91rem;
    top: -26rem;
    position: relative;
  }

  #e3 {
    position: relative;
    top: 29rem;
    right: 50%;
    margin-bottom: 10rem;
  }

  #contentFooter {
    position: absolute;
    top: 290rem;
    width: 19%;
    left: 40%;
  }

  .theme--light.v-icon:hover {
    cursor: pointer;
    color: yellow;
  }

  .fav {
    color: yellow;
    background-color: yellow;
    border-radius: 50%;
  }
}