#profilesBox {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 6rem;

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    margin-top: 11rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  img {
    width: 8rem;

    // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      margin-top: 11rem;
      width: 11rem;
    }
  }

  p {
    color: $light-grey;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.singleuser {
  cursor: pointer;
  list-style: none;
  img {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}

#settings {
  color: $light-grey;
  font-size: 4rem;
  position: absolute;
  right: 10rem;
  bottom: 8rem;
  animation: rotate 6s;
  animation-iteration-count: 1;
}
