#selection {
  display: flex;
  justify-content: space-around;
  margin-top: 6.4rem;
  margin-left: -28px;

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    margin-top: 4.8rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    margin-bottom: 6rem;
    margin-left: -6rem;
    justify-content: space-around;
  }
}

#movieIcon,
#tvIcon,
#musicIcon {
  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    width: 8rem;
  }
}

.sel {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  stroke: purple;
  animation: pure 4.9s;
  animation-iteration-count: infinite;
  /*   animation-direction: alternate; */
  animation-timing-function: ease-in-out;
}

#movieIcon {
  margin-left: 3rem;
}
