#welcome {
  margin-left: 0;
  margin-top: 18rem;
  font-size: 1.5rem;
}

.isSelected {
  background-color: aliceblue !important;
}

// desktop size media queries at 1200px
@media screen and (min-width: 1200px) {
  #welcome {
    margin-left: -30rem;
    margin-top: 18rem;
    font-size: 3rem;
  }

  .welcomeTag {
    color: $light-grey;
    margin-bottom: 2rem;
  }

  #firstTag {
    display: inline;
    margin-right: 2rem;
  }

  #mylist {
    color: $light-purple;
    margin-left: 1rem;
    margin-top: 6.9rem;
    font-size: 3rem;
    margin-bottom: 5.4rem;
  }

  #userIcon {
    display: inline;
  }

  .contentBtn {
    text-align: center;
    margin-top: 4rem;
  }

  #downArrow {
    color: $light-grey;
    font-size: 2rem;
    position: relative;
    top: 16rem;
    left: 50%;
  }
}