#welcome {
  margin-left: -30rem;
  margin-top: 18rem;
  font-size: 3rem;
}

.welcomeTag {
  color: $light-grey;
  margin-bottom: 2rem;
}

#firstTag {
  display: inline;
  margin-right: 2rem;
}

#mylist {
  color: $light-purple;
  margin-left: 1rem;
  margin-top: 6.9rem;
  font-size: 3rem;
  margin-bottom: 5.4rem;
}

#userIcon {
  display: inline;
}
